@import url('https://fonts.googleapis.com/css2?family=Exo+2&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Prata&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  font-family: Outfit;
}

.prata-regular {
  font-family: "Prata", serif;
  font-weight: 400;
  font-style: normal;
}


body {
  font-family: "Lato", serif;
}

.bg-blue {
  background-color: #1e90ff;
}

.scrollHide::-webkit-scrollbar {
  display: none;
}

a.active hr {
  display: block;
}

.customized-scrollbar::-webkit-scrollbar-thumb {
  background: #000;
  width: 1px;
  border-radius: 20px;
}
